body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 400px;
    height: 425px;
    gap: 16px;
    padding:20px;
    border-radius: 20px;
}

.display {
    text-align: right;
    font-size: 32px;
    background-color: black;
    padding: 4px 16px 2px 16px;
    color: white;
    width: 400px;
    box-sizing: border-box;
    border-radius: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.numbersAndOperators {
    display: flex;
    height: 350px;
}

.theNumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.clear {
    font-size: 22px;
    width: 33%;
    border-radius: 10px;
    background-color: darkcyan;
}

.number {
    width: 33%;
    font-size: 40px;
    border-radius: 10px;
    background-color: darkcyan;
}

.theOperators {
    display: flex;
    flex-wrap: wrap;
}

.operator {
    width:50%;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(139, 97, 0);
}

.operator.sqrt {
    font-size: 22px;
}



